input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    margin: 8px 0;
    transition: width 0.4s ease-in-out;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 1, 1);
    border-radius: 4px;
    resize: none;
    background: linear-gradient(to left, #33ccff 0%, #ffffff 77%);
    color: rgb(0, 0, 0);
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5ch;
}

select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 5ch;
    background-color: #f1f1f1;
    background: linear-gradient(to left, #33ccff 0%, #ffffff 77%);
    border-color: red;
    border-style: solid;
    margin: 4px 2px;
}

.sexo {
    border-radius: 5ch;
    border-color: red;
    border-style: groove;
}

body {
    background: linear-gradient(to left, #33ccff 0%, #ffffff 77%);
}