body {
    background: linear-gradient(to left, #33ccff 0%, #ffffff 77%);
}

table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}

thead {
    color: honeydew;
    padding: 5px;
}

tbody>tr:nth-child(even) {
    color: cornsilk;
}

tbody>tr:hover {
    background-color: lightslategray;
}

h1 {
    font-family: "Comic Sans MS";
}